@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/noise.png");
  background-blend-mode: hard-light;
  scroll-behavior: smooth;
}
@layer utilities {
  h1 span {
    background: linear-gradient(90deg, #ff8d4e 0%, #ef9a69 48%, #dea789 56.5%, #d6ae97 70.5%, #c6bab4 97.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  .sp {
    background: linear-gradient(90deg, #ac66db 0%, #d8619a 100%);
  }
  .text-balance {
    text-wrap: balance;
  }
  .transition-max-height {
    transition: max-height 0.5s ease-in-out;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }

  .bbb {
    animation: bbb 1s linear infinite;
  }

  @keyframes bbb {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.6, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
